body {
    background-image: url(/assets/images/circles_banner.svg);
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
}

/* Navigation_Start */
.nav__logo {
    margin-top: 3.5rem;
    display: inline-block;}

.nav__ul{
    margin-left: 10.063rem;
    margin-right: 10.063rem;}

.nav__ul li {
    font-weight: var(--f_weight_regular);
    margin-top: 5.125rem;
    margin-left: 2.813rem;
}
/* Navigation_End */

/* Footer_Start */

.footer__content {padding-top: 6rem;}

.footer__bottom{margin-top: 5.313rem;}

/* Footer_End */